* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
  font-family: "Press Start 2P", system-ui;
}

.character-creation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #161616;
  font-family: "Press Start 2P", system-ui;
}

.character-creation-form {
  background-color: #180700;
  padding: 40px;
  border: 2px solid rgb(61, 61, 61);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.character-creation-form h1 {
  margin-bottom: 25px;
  font-size: 1.5rem;
}

.character-creation-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.character-creation-form input,
.character-creation-form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 2px solid rgb(61, 61, 61);
  background-color: #242424;
  color: white;
  font-family: "Press Start 2P", system-ui;
  font-size: 0.8rem;
}

.character-creation-form select {
  border-radius: 0;
  appearance: none;
}

.character-creation-form select option:hover {
  background-color: #fff;
  color: #000;
}

.character-creation-form button {
  background-color: #180700;
  border: 2px solid #ffffff;
  padding: 15px;
  font-family: "Press Start 2P", system-ui;
  text-align: center;
  cursor: pointer;
}

.character-creation-form button:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

.sidebar {
  max-width: 330px;
  min-width: 330px;
  background-color: #242424;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  font-size: 0.7rem;
  z-index: 10;
  border: 2px solid rgb(61, 61, 61);
}

.sidebar-title {
  font-size: 1rem;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
  cursor: pointer;
}

.stat-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.stat-container span:first-child {
  flex: 1;
  text-align: left;
}

.stat-container span:last-child {
  flex: 0 0 50px;
  text-align: right;
}

.inventory {
  margin-top: 10%;
}

.sidebar .text-box {
  margin-top: 20px;
  padding: 10px;
  background-color: #180700;
  border: solid 2px rgb(61, 61, 61);
}

.money-container {
  padding: 10px;
  background-color: #161616;
  border: solid 2px rgb(61, 61, 61);
}

.location-screen {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #161616;
  overflow: hidden;
  border-radius: 10px;
}

.main-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-position: center;
  border-radius: 10px;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.world-location {
  position: sticky;
  /* bottom: 10px; */
  height: 350px;
  min-height: 200px;
  width: 100%;
  background-color: #242424;
  padding: 20px;
  box-shadow: 0px -5px 40px 10px rgba(0, 0, 0, 1);
  text-align: left;
  z-index: 20;
  border: solid 2px rgb(61, 61, 61);
  font-size: 10px;
}

.location-name {
  text-align: center;
  margin-bottom: 10px;
  font-size: 23px;
}

.location-description {
  border: 1px solid rgb(61, 61, 61);
  background-color: #161616;
  padding: 10px;
  text-align: justify;
  line-height: 20px;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.travel-button,
.activities-button,
.local-button,
.enter-button,
.leave-button,
.return-button {
  background-color: #180700;
  border: 2px solid #ffffff;
  padding: 10px;
  font-family: "Press Start 2P", system-ui;
  flex: 1;
  text-align: center;
}

.travel-button:hover,
.activities-button:hover,
.local-button:hover,
.enter-button:hover,
.leave-button:hover,
.return-button:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  cursor: pointer;
}

.world-location .popup {
  position: sticky;
  background-color: #180700;
  margin: 10px;
  z-index: 1000;
}

.popup-header {
  padding: 7px 15px;
  margin: 5px;
  border: 1px solid rgb(36, 25, 25);
  background-color: #0e0400;
}

.world-location .popup ul {
  list-style: none;
  padding: 0;
  margin: 5;
  border: 2px solid #ffffff;
}

.world-location .popup ul li {
  padding: 6px 25px;
}

.world-location .popup ul li:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  background-color: #180700;
  padding: 20px;
  border: solid 2px rgb(61, 61, 61);
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 2px solid #ffffff;
}

.popup ul li {
  padding: 6px 25px;
}

.popup ul li:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

.event-popup {
  position: absolute;
  top: 0;
  left: 330px;
  width: calc(100% - 330px);
  height: calc(100% - 280px);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(36, 36, 36);
  z-index: 10;
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.event-popup img {
  max-width: 65%;
  /* max-width: 1090px; */
  height: auto;
  max-height: 650px;
  margin: 10px 0;
  border-radius: 10px;
  border: 2px solid rgb(36, 36, 36);
  z-index: 1;
}

.text-LR-alignment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
}

.event-popup h3,
.event-popup p,
.event-popup button {
  color: rgb(255, 255, 255);
  z-index: 30;
}

.enemy-name-span {
  color: rgb(255, 238, 0);
}

.event-popup h3 {
  position: relative;
  margin-bottom: 10px;
}

.event-popup .stats-left {
  position: relative;
  text-align: left;
}

.event-popup .stats-right {
  position: relative;
  text-align: right;
}

.event-popup .button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 30%;
  margin-top: auto;
}

.event-popup .button-container .event-button {
  background-color: #180700;
  border: 2px solid #ffffff;
  padding: 10px;
  font-family: "Press Start 2P", system-ui;
  text-align: center;
  cursor: pointer;
  flex: 1;
}

.event-popup .button-container .event-button:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

.event-button.disabled {
  color: grey;
  pointer-events: none;
}