* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
  font-family: "Press Start 2P", system-ui;
  background: linear-gradient(to bottom, #1c1c1c, #0d0d0d);
}

.character-creation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #141313;
  font-family: "Press Start 2P", system-ui;
}

.character-creation-form {
  background-color: #252525;
  padding: 50px;
  border: 2px solid #b8860b;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #f5f5f5;
}

.character-creation-form h1 {
  margin-bottom: 45px;
  font-size: 1.5rem;
}

.character-creation-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.character-creation-form input,
.character-creation-form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 2px solid #b8860b;
  background-color: #141414;
  color: #f5f5f5;
  font-family: "Press Start 2P", system-ui;
  font-size: 0.8rem;
}

.character-creation-form select {
  appearance: none;
}

.character-creation-form select option {
  padding-bottom: 100px;
}

.character-creation-form select option:hover {
  background-color: #fff;
  color: #000;
}

.character-creation-form button {
  background-color: #290d0d;
  border: 2px solid #b8860b;
  padding: 15px;
  font-family: "Press Start 2P", system-ui;
  text-align: center;
  cursor: pointer;
}

.character-creation-form button:hover {
  background-color: #b8860b;
  color: #000;
  border: 2px solid #000;
}

.sidebar {
  max-width: 330px;
  min-width: 330px;
  background-color: #2c2c2c;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  font-size: 0.7rem;
  z-index: 10;
  border: 2px solid #5a5a5a;
  color: #f5f5f5;
}

.sidebar-title {
  font-size: 1rem;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
  cursor: pointer;
}

.stat-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.stat-container span:first-child {
  flex: 1;
  text-align: left;
}

.stat-container span:last-child {
  flex: 0 0 50px;
  text-align: right;
}

.inventory {
  margin-top: 10%;
}

.sidebar .text-box {
  margin-top: 20px;
  padding: 10px;
  background-color: #141414;
  border: solid 2px #5a5a5a;
}

.money-container {
  padding: 10px;
  background-color: #222222;
  border: solid 2px #5a5a5a;
}

.location-screen {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  overflow: hidden;
}

.main-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-position: center;

}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.world-location {
  position: sticky;
  height: 350px;
  min-height: 200px;
  width: 100%;
  background-color: #2e2e2e;
  padding: 20px;
  box-shadow: 0px -5px 40px 10px rgba(0, 0, 0, 1);
  text-align: left;
  z-index: 20;
  border: solid 2px #5a5a5a;
  font-size: 12px;
  color: #f5f5f5;
}

.location-name {
  text-align: center;
  margin-bottom: 10px;
  font-size: 23px;
}

.location-description {
  border: 2px solid #5a5a5a;
  background-color: #141414;
  padding: 10px;
  text-align: justify;
  line-height: 20px;
  height: 120px;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.travel-button,
.activities-button,
.local-button,
.enter-button,
.leave-button,
.return-button {
  background-color: #290d0d;
  border: 2px solid #b8860b;
  padding: 10px;
  font-family: "Press Start 2P", system-ui;
  flex: 1;
  text-align: center;
  transition: background-color 0.3s ease;
}

.travel-button:disabled,
.activities-button:disabled,
.local-button:disabled,
.enter-button:disabled,
.leave-button:disabled,
.return-button:disabled {
  background-color: #1c1c1c;
  pointer-events: none;
}

.travel-button:hover,
.activities-button:hover,
.local-button:hover,
.enter-button:hover,
.leave-button:hover,
.return-button:hover {
  background-color: #b8860b;
  color: #000;
  border: 2px solid #000;
  cursor: pointer;
}

.world-location .popup {
  position: sticky;
  background-color: #2e2e2e;
  margin: 10px;
  z-index: 1000;
}

.popup-header {
  padding: 7px 15px;
  margin: 5px;
  border: 1px solid #b8860b;
  background-color: #1c1c1c;
}

.world-location .popup ul {
  list-style: none;
  padding: 0;
  margin: 5;
  border: 2px solid #b8860b;
}

.world-location .popup ul li:hover {
  cursor: pointer;
  background-color: #b8860b;
  color: #000;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #2e2e2e;
  padding: 20px;
  border: solid 2px #b8860b;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 2px solid #b8860b;
  background-color: #290d0d;
}

.popup ul li {
  transition: background-color 0.3s ease;
  padding: 6px 25px;
}

.popup ul li:hover {
  cursor: pointer;
  background-color: #b8860b;
  color: #000;
}

.event-popup {
  position: absolute;
  top: 0;
  left: 330px;
  width: calc(100% - 330px);
  height: calc(100% - 280px);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-popup img {
  max-width: 65%;
  height: auto;
  max-height: 650px;
  margin: 10px 0;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 1);
}

.text-LR-alignment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
}

.event-popup h3,
.event-popup p,
.event-popup button {
  color: #f5f5f5;
  z-index: 30;
}

.event-description{
  width: 80%;
  margin-top: 10px;
}

.enemy-name-span {
  color: #b8860b;
}

.event-popup h3 {
  position: relative;
  margin-bottom: 10px;
}

.event-popup .stats-left {
  position: relative;
  text-align: left;
}

.event-popup .stats-right {
  position: relative;
  text-align: right;
}

.event-popup .button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 30%;
  margin-top: auto;
  margin-bottom: 40px;
}

.event-popup .button-container .event-button {
  background-color: #290d0d;
  border: 2px solid #b8860b;
  padding: 10px;
  font-family: "Press Start 2P", system-ui;
  text-align: center;
  cursor: pointer;
  flex: 1;
}

.event-popup .button-container .event-button:hover {
  background-color: #b8860b;
  color: #000;
  border: 2px solid #000;
}

.event-button.disabled {
  color: grey;
  pointer-events: none;
}

.combat-window {
  position: fixed;
  top: calc(40%);
  left: 58%;
  transform: translate(-50%, -50%);
  background-color: #303030;
  color: white;
  border: 2px solid #5e5e5e;
  padding: 20px;
  z-index: 1000;
  width: 60%;
  max-width: 1200px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.combat-title {
  margin: 10px;
  padding: 10px 30px;
  background-color: #161616;
  border: 2px solid #535353;
}

.combat-level {
  margin-bottom: 20px;
}

.combat-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.combat-character,
.combat-enemy {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.combat-character img,
.combat-enemy img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 1);
}

.battle-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
}

.combat-stats {
  width: 100%;
}

.stat-value{
  color: rgb(0, 255, 0);
}

.combat-stats p {
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
  padding: 0 100px;
}

.combat-log {
  max-height: 130px;
  height: 160px;
  overflow-y: auto;
  background-color: #141414;
  padding: 10px;
  margin-top: 20px;
  font-size: 12px;
  border: 2px solid #5e5e5e;
}

.combat-log p {
  margin: 5px 0;
}

.combat-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.combat-actions button {
  background-color: #290d0d;
  border: 2px solid #b8860b;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  flex-grow: 1;
  font-family: "Press Start 2P", system-ui;
  transition: background-color 0.3s ease;
  text-align: center;
  min-width: 100px;
  max-width: 150px;
  margin: 0 5px;
}

.combat-actions button:hover {
  background-color: #b8860b;
  color: #000;
  border: 2px solid #000;
}

@media (max-width: 768px) {
  .combat-info {
    flex-direction: column;
    align-items: center;
  }

  .combat-character,
  .combat-enemy {
    width: 80%;
    margin-bottom: 20px;
  }

  .combat-actions {
    flex-direction: column;
  }

  .combat-actions button {
    margin: 5px 0;
  }
}

/* App.css */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: #303030;
  border: 2px solid #b8860b;
  color: #ffffff;
  padding: 40px 50px;
  text-align: center;
  margin: 20px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
}

.popup-content button {
  transition: background-color 0.3s ease;
  cursor: pointer;
  background-color: #290d0d;
  border: 2px solid #b8860b;
  padding: 10px 30px;
  margin-bottom: 10px;
  margin-top: 40px;
  color: white;
  font-family: "Press Start 2P", system-ui;
  
}

.popup-content button:hover {
  background-color: #b8860b;
  color: #000;
  border: 2px solid #000;
}